# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

*                                             @redotengine/buildsystem

# Core

/core/                                        @redotengine/core
/core/crypto/                                 @redotengine/network
/core/debugger/                               @redotengine/debugger
/core/extension/                              @redotengine/gdextension
/core/input/                                  @redotengine/input

# Doc

/doc/                                         @redotengine/documentation
**/doc_classes/                               @redotengine/documentation

# Drivers

## Audio
/drivers/alsa/                                @redotengine/audio
/drivers/alsamidi/                            @redotengine/audio
/drivers/coreaudio/                           @redotengine/audio
/drivers/coremidi/                            @redotengine/audio
/drivers/pulseaudio/                          @redotengine/audio
/drivers/wasapi/                              @redotengine/audio
/drivers/winmidi/                             @redotengine/audio
/drivers/xaudio2/                             @redotengine/audio

## Rendering
/drivers/d3d12/                               @redotengine/rendering
/drivers/dummy/                               @redotengine/rendering
/drivers/gles3/                               @redotengine/rendering
/drivers/spirv-reflect/                       @redotengine/rendering
/drivers/vulkan/                              @redotengine/rendering

## OS
/drivers/unix/                                @redotengine/_platforms
/drivers/windows/                             @redotengine/windows

## Misc
/drivers/png/                                 @redotengine/import

# Editor

/editor/*debugger*                            @redotengine/debugger
/editor/gui/                                  @redotengine/usability @redotengine/gui-nodes
/editor/icons/                                @redotengine/usability
/editor/import/                               @redotengine/import
/editor/plugins/*2d_*.*                       @redotengine/2d-editor
/editor/plugins/*3d_*.*                       @redotengine/3d-editor
/editor/plugins/script_*.*                    @redotengine/script-editor
/editor/plugins/*shader*.*                    @redotengine/shaders
/editor/themes/                               @redotengine/usability @redotengine/gui-nodes
/editor/code_editor.*                         @redotengine/script-editor
/editor/*dock*.*                              @redotengine/docks
/editor/*shader*.*                            @redotengine/shaders

# Main

/main/                                        @redotengine/core

# Misc

/misc/                                        @redotengine/buildsystem
/misc/extension_api_validation/               @redotengine/gdextension @redotengine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/                   @redotengine/audio
/modules/interactive_music/doc_classes/       @redotengine/audio @redotengine/documentation
/modules/minimp3/                             @redotengine/audio
/modules/minimp3/doc_classes/                 @redotengine/audio @redotengine/documentation
/modules/ogg/                                 @redotengine/audio
/modules/ogg/doc_classes/                     @redotengine/audio @redotengine/documentation
/modules/theora/                              @redotengine/audio
/modules/theora/doc_classes/                  @redotengine/audio @redotengine/documentation
/modules/vorbis/                              @redotengine/audio
/modules/vorbis/doc_classes/                  @redotengine/audio @redotengine/documentation

## Import
/modules/astcenc/                             @redotengine/import
/modules/basis_universal/                     @redotengine/import
/modules/betsy/                               @redotengine/import
/modules/bmp/                                 @redotengine/import
/modules/cvtt/                                @redotengine/import
/modules/dds/                                 @redotengine/import
/modules/etcpak/                              @redotengine/import
/modules/fbx/                                 @redotengine/import
/modules/fbx/doc_classes/                     @redotengine/import @redotengine/documentation
/modules/gltf/                                @redotengine/import
/modules/gltf/doc_classes/                    @redotengine/import @redotengine/documentation
/modules/gltf/tests/                          @redotengine/import @redotengine/tests
/modules/hdr/                                 @redotengine/import
/modules/jpg/                                 @redotengine/import
/modules/ktx/                                 @redotengine/import
/modules/squish/                              @redotengine/import
/modules/svg/                                 @redotengine/import
/modules/tga/                                 @redotengine/import
/modules/tinyexr/                             @redotengine/import
/modules/webp/                                @redotengine/import

## Network
/modules/enet/                                @redotengine/network
/modules/enet/doc_classes/                    @redotengine/network @redotengine/documentation
/modules/mbedtls/                             @redotengine/network
/modules/mbedtls/tests/                       @redotengine/network @redotengine/tests
/modules/multiplayer/                         @redotengine/network
/modules/multiplayer/doc_classes/             @redotengine/network @redotengine/documentation
/modules/upnp/                                @redotengine/network
/modules/upnp/doc_classes/                    @redotengine/network @redotengine/documentation
/modules/webrtc/                              @redotengine/network
/modules/webrtc/doc_classes/                  @redotengine/network @redotengine/documentation
/modules/websocket/                           @redotengine/network
/modules/websocket/doc_classes/               @redotengine/network @redotengine/documentation

## Physics
/modules/redot_physics_2d/                    @redotengine/physics
/modules/redot_physics_3d/                    @redotengine/physics

## Rendering
/modules/glslang/                             @redotengine/rendering
/modules/lightmapper_rd/                      @redotengine/rendering
/modules/meshoptimizer/                       @redotengine/rendering
/modules/raycast/                             @redotengine/rendering
/modules/vhacd/                               @redotengine/rendering
/modules/xatlas_unwrap/                       @redotengine/rendering

## Scripting
/modules/gdscript/                            @redotengine/gdscript
/modules/gdscript/doc_classes/                @redotengine/gdscript @redotengine/documentation
/modules/gdscript/icons/                      @redotengine/gdscript @redotengine/usability
/modules/gdscript/tests/                      @redotengine/gdscript @redotengine/tests
/modules/jsonrpc/                             @redotengine/gdscript @redotengine/network
/modules/jsonrpc/tests                        @redotengine/gdscript @redotengine/network @redotengine/tests
/modules/mono/                                @redotengine/dotnet
/modules/mono/doc_classes/                    @redotengine/dotnet @redotengine/documentation
/modules/mono/icons/                          @redotengine/dotnet @redotengine/usability

## Text
/modules/freetype/                            @redotengine/buildsystem
/modules/msdfgen/                             @redotengine/buildsystem
/modules/text_server_adv/                     @redotengine/gui-nodes
/modules/text_server_adv/doc_classes/         @redotengine/gui-nodes @redotengine/documentation
/modules/text_server_fb/                      @redotengine/gui-nodes
/modules/text_server_fb/doc_classes/          @redotengine/gui-nodes @redotengine/documentation

## XR
/modules/camera/                              @redotengine/xr
/modules/mobile_vr/                           @redotengine/xr
/modules/mobile_vr/doc_classes/               @redotengine/xr @redotengine/documentation
/modules/openxr/                              @redotengine/xr
/modules/openxr/doc_classes/                  @redotengine/xr @redotengine/documentation
/modules/webxr/                               @redotengine/xr
/modules/webxr/doc_classes/                   @redotengine/xr @redotengine/documentation

## Misc
/modules/csg/                                 @redotengine/3d-nodes
/modules/csg/doc_classes/                     @redotengine/3d-nodes @redotengine/documentation
/modules/csg/icons/                           @redotengine/3d-nodes @redotengine/usability
/modules/navigation/                          @redotengine/navigation
/modules/gridmap/                             @redotengine/3d-nodes
/modules/gridmap/doc_classes/                 @redotengine/3d-nodes @redotengine/documentation
/modules/gridmap/icons/                       @redotengine/3d-nodes @redotengine/usability
/modules/noise/                               @redotengine/core
/modules/noise/doc_classes/                   @redotengine/core @redotengine/documentation
/modules/noise/icons/                         @redotengine/core @redotengine/usability
/modules/noise/tests/                         @redotengine/core @redotengine/tests
/modules/regex/                               @redotengine/core
/modules/regex/doc_classes/                   @redotengine/core @redotengine/documentation
/modules/regex/icons/                         @redotengine/core @redotengine/usability
/modules/regex/tests/                         @redotengine/core @redotengine/tests
/modules/zip/                                 @redotengine/core
/modules/zip/doc_classes/                     @redotengine/core @redotengine/documentation

# Platform

/platform/android/                            @redotengine/android
/platform/android/doc_classes/                @redotengine/android @redotengine/documentation
/platform/ios/                                @redotengine/ios
/platform/ios/doc_classes/                    @redotengine/ios @redotengine/documentation
/platform/linuxbsd/                           @redotengine/linux-bsd
/platform/linuxbsd/doc_classes/               @redotengine/linux-bsd @redotengine/documentation
/platform/macos/                              @redotengine/macos
/platform/macos/doc_classes/                  @redotengine/macos @redotengine/documentation
/platform/web/                                @redotengine/web
/platform/web/doc_classes/                    @redotengine/web @redotengine/documentation
/platform/windows/                            @redotengine/windows
/platform/windows/doc_classes/                @redotengine/windows @redotengine/documentation

# Scene

/scene/2d/                                    @redotengine/2d-nodes
/scene/2d/physics/                            @redotengine/2d-nodes @redotengine/physics
/scene/3d/                                    @redotengine/3d-nodes
/scene/3d/physics/                            @redotengine/3d-nodes @redotengine/physics
/scene/animation/                             @redotengine/animation
/scene/audio/                                 @redotengine/audio
/scene/debugger/                              @redotengine/debugger
/scene/gui/                                   @redotengine/gui-nodes
/scene/main/                                  @redotengine/core
/scene/resources/font.*                       @redotengine/gui-nodes
/scene/resources/text_line.*                  @redotengine/gui-nodes
/scene/resources/text_paragraph.*             @redotengine/gui-nodes
/scene/resources/visual_shader*.*             @redotengine/shaders
/scene/theme/                                 @redotengine/gui-nodes
/scene/theme/icons/                           @redotengine/gui-nodes @redotengine/usability

# Servers

/servers/audio*                               @redotengine/audio
/servers/camera*                              @redotengine/xr
/servers/display_server.*                     @redotengine/_platforms
/servers/navigation_server*.*                 @redotengine/navigation
/servers/physics*                             @redotengine/physics
/servers/rendering*                           @redotengine/rendering
/servers/text_server.*                        @redotengine/gui-nodes
/servers/xr*                                  @redotengine/xr

# Tests

/tests/                                       @redotengine/tests

# Thirdparty

/thirdparty/                                  @redotengine/buildsystem

# Buildsystem (After everything to catch all)

*.py                                          @redotengine/buildsystem
SConstruct                                    @redotengine/buildsystem
SCsub                                         @redotengine/buildsystem
