# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

*                                             @Redotengine/buildsystem

# Core

/core/                                        @Redotengine/core
/core/crypto/                                 @Redotengine/network
/core/debugger/                               @Redotengine/debugger
/core/extension/                              @Redotengine/gdextension
/core/input/                                  @Redotengine/input

# Doc

/doc/                                         @Redotengine/documentation
**/doc_classes/                               @Redotengine/documentation

# Drivers

## Audio
/drivers/alsa/                                @Redotengine/audio
/drivers/alsamidi/                            @Redotengine/audio
/drivers/coreaudio/                           @Redotengine/audio
/drivers/coremidi/                            @Redotengine/audio
/drivers/pulseaudio/                          @Redotengine/audio
/drivers/wasapi/                              @Redotengine/audio
/drivers/winmidi/                             @Redotengine/audio
/drivers/xaudio2/                             @Redotengine/audio

## Rendering
/drivers/d3d12/                               @Redotengine/rendering
/drivers/dummy/                               @Redotengine/rendering
/drivers/gles3/                               @Redotengine/rendering
/drivers/spirv-reflect/                       @Redotengine/rendering
/drivers/vulkan/                              @Redotengine/rendering

## OS
/drivers/unix/                                @Redotengine/_platforms
/drivers/windows/                             @Redotengine/windows

## Misc
/drivers/png/                                 @Redotengine/import

# Editor

/editor/*debugger*                            @Redotengine/debugger
/editor/gui/                                  @Redotengine/usability @Redotengine/gui-nodes
/editor/icons/                                @Redotengine/usability
/editor/import/                               @Redotengine/import
/editor/plugins/*2d_*.*                       @Redotengine/2d-editor
/editor/plugins/*3d_*.*                       @Redotengine/3d-editor
/editor/plugins/script_*.*                    @Redotengine/script-editor
/editor/plugins/*shader*.*                    @Redotengine/shaders
/editor/themes/                               @Redotengine/usability @Redotengine/gui-nodes
/editor/code_editor.*                         @Redotengine/script-editor
/editor/*dock*.*                              @Redotengine/docks
/editor/*shader*.*                            @Redotengine/shaders

# Main

/main/                                        @Redotengine/core

# Misc

/misc/                                        @Redotengine/buildsystem
/misc/extension_api_validation/               @Redotengine/gdextension @Redotengine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/                   @Redotengine/audio
/modules/interactive_music/doc_classes/       @Redotengine/audio @Redotengine/documentation
/modules/minimp3/                             @Redotengine/audio
/modules/minimp3/doc_classes/                 @Redotengine/audio @Redotengine/documentation
/modules/ogg/                                 @Redotengine/audio
/modules/ogg/doc_classes/                     @Redotengine/audio @Redotengine/documentation
/modules/theora/                              @Redotengine/audio
/modules/theora/doc_classes/                  @Redotengine/audio @Redotengine/documentation
/modules/vorbis/                              @Redotengine/audio
/modules/vorbis/doc_classes/                  @Redotengine/audio @Redotengine/documentation

## Import
/modules/astcenc/                             @Redotengine/import
/modules/basis_universal/                     @Redotengine/import
/modules/betsy/                               @Redotengine/import
/modules/bmp/                                 @Redotengine/import
/modules/cvtt/                                @Redotengine/import
/modules/dds/                                 @Redotengine/import
/modules/etcpak/                              @Redotengine/import
/modules/fbx/                                 @Redotengine/import
/modules/fbx/doc_classes/                     @Redotengine/import @Redotengine/documentation
/modules/gltf/                                @Redotengine/import
/modules/gltf/doc_classes/                    @Redotengine/import @Redotengine/documentation
/modules/gltf/tests/                          @Redotengine/import @Redotengine/tests
/modules/hdr/                                 @Redotengine/import
/modules/jpg/                                 @Redotengine/import
/modules/ktx/                                 @Redotengine/import
/modules/squish/                              @Redotengine/import
/modules/svg/                                 @Redotengine/import
/modules/tga/                                 @Redotengine/import
/modules/tinyexr/                             @Redotengine/import
/modules/webp/                                @Redotengine/import

## Network
/modules/enet/                                @Redotengine/network
/modules/enet/doc_classes/                    @Redotengine/network @Redotengine/documentation
/modules/mbedtls/                             @Redotengine/network
/modules/mbedtls/tests/                       @Redotengine/network @Redotengine/tests
/modules/multiplayer/                         @Redotengine/network
/modules/multiplayer/doc_classes/             @Redotengine/network @Redotengine/documentation
/modules/upnp/                                @Redotengine/network
/modules/upnp/doc_classes/                    @Redotengine/network @Redotengine/documentation
/modules/webrtc/                              @Redotengine/network
/modules/webrtc/doc_classes/                  @Redotengine/network @Redotengine/documentation
/modules/websocket/                           @Redotengine/network
/modules/websocket/doc_classes/               @Redotengine/network @Redotengine/documentation

## Physics
/modules/Redot_physics_2d/                    @Redotengine/physics
/modules/Redot_physics_3d/                    @Redotengine/physics

## Rendering
/modules/glslang/                             @Redotengine/rendering
/modules/lightmapper_rd/                      @Redotengine/rendering
/modules/meshoptimizer/                       @Redotengine/rendering
/modules/raycast/                             @Redotengine/rendering
/modules/vhacd/                               @Redotengine/rendering
/modules/xatlas_unwrap/                       @Redotengine/rendering

## Scripting
/modules/gdscript/                            @Redotengine/gdscript
/modules/gdscript/doc_classes/                @Redotengine/gdscript @Redotengine/documentation
/modules/gdscript/icons/                      @Redotengine/gdscript @Redotengine/usability
/modules/gdscript/tests/                      @Redotengine/gdscript @Redotengine/tests
/modules/jsonrpc/                             @Redotengine/gdscript @Redotengine/network
/modules/jsonrpc/tests                        @Redotengine/gdscript @Redotengine/network @Redotengine/tests
/modules/mono/                                @Redotengine/dotnet
/modules/mono/doc_classes/                    @Redotengine/dotnet @Redotengine/documentation
/modules/mono/icons/                          @Redotengine/dotnet @Redotengine/usability

## Text
/modules/freetype/                            @Redotengine/buildsystem
/modules/msdfgen/                             @Redotengine/buildsystem
/modules/text_server_adv/                     @Redotengine/gui-nodes
/modules/text_server_adv/doc_classes/         @Redotengine/gui-nodes @Redotengine/documentation
/modules/text_server_fb/                      @Redotengine/gui-nodes
/modules/text_server_fb/doc_classes/          @Redotengine/gui-nodes @Redotengine/documentation

## XR
/modules/camera/                              @Redotengine/xr
/modules/mobile_vr/                           @Redotengine/xr
/modules/mobile_vr/doc_classes/               @Redotengine/xr @Redotengine/documentation
/modules/openxr/                              @Redotengine/xr
/modules/openxr/doc_classes/                  @Redotengine/xr @Redotengine/documentation
/modules/webxr/                               @Redotengine/xr
/modules/webxr/doc_classes/                   @Redotengine/xr @Redotengine/documentation

## Misc
/modules/csg/                                 @Redotengine/3d-nodes
/modules/csg/doc_classes/                     @Redotengine/3d-nodes @Redotengine/documentation
/modules/csg/icons/                           @Redotengine/3d-nodes @Redotengine/usability
/modules/navigation/                          @Redotengine/navigation
/modules/gridmap/                             @Redotengine/3d-nodes
/modules/gridmap/doc_classes/                 @Redotengine/3d-nodes @Redotengine/documentation
/modules/gridmap/icons/                       @Redotengine/3d-nodes @Redotengine/usability
/modules/noise/                               @Redotengine/core
/modules/noise/doc_classes/                   @Redotengine/core @Redotengine/documentation
/modules/noise/icons/                         @Redotengine/core @Redotengine/usability
/modules/noise/tests/                         @Redotengine/core @Redotengine/tests
/modules/regex/                               @Redotengine/core
/modules/regex/doc_classes/                   @Redotengine/core @Redotengine/documentation
/modules/regex/icons/                         @Redotengine/core @Redotengine/usability
/modules/regex/tests/                         @Redotengine/core @Redotengine/tests
/modules/zip/                                 @Redotengine/core
/modules/zip/doc_classes/                     @Redotengine/core @Redotengine/documentation

# Platform

/platform/android/                            @Redotengine/android
/platform/android/doc_classes/                @Redotengine/android @Redotengine/documentation
/platform/ios/                                @Redotengine/ios
/platform/ios/doc_classes/                    @Redotengine/ios @Redotengine/documentation
/platform/linuxbsd/                           @Redotengine/linux-bsd
/platform/linuxbsd/doc_classes/               @Redotengine/linux-bsd @Redotengine/documentation
/platform/macos/                              @Redotengine/macos
/platform/macos/doc_classes/                  @Redotengine/macos @Redotengine/documentation
/platform/web/                                @Redotengine/web
/platform/web/doc_classes/                    @Redotengine/web @Redotengine/documentation
/platform/windows/                            @Redotengine/windows
/platform/windows/doc_classes/                @Redotengine/windows @Redotengine/documentation

# Scene

/scene/2d/                                    @Redotengine/2d-nodes
/scene/2d/physics/                            @Redotengine/2d-nodes @Redotengine/physics
/scene/3d/                                    @Redotengine/3d-nodes
/scene/3d/physics/                            @Redotengine/3d-nodes @Redotengine/physics
/scene/animation/                             @Redotengine/animation
/scene/audio/                                 @Redotengine/audio
/scene/debugger/                              @Redotengine/debugger
/scene/gui/                                   @Redotengine/gui-nodes
/scene/main/                                  @Redotengine/core
/scene/resources/font.*                       @Redotengine/gui-nodes
/scene/resources/text_line.*                  @Redotengine/gui-nodes
/scene/resources/text_paragraph.*             @Redotengine/gui-nodes
/scene/resources/visual_shader*.*             @Redotengine/shaders
/scene/theme/                                 @Redotengine/gui-nodes
/scene/theme/icons/                           @Redotengine/gui-nodes @Redotengine/usability

# Servers

/servers/audio*                               @Redotengine/audio
/servers/camera*                              @Redotengine/xr
/servers/display_server.*                     @Redotengine/_platforms
/servers/navigation_server*.*                 @Redotengine/navigation
/servers/physics*                             @Redotengine/physics
/servers/rendering*                           @Redotengine/rendering
/servers/text_server.*                        @Redotengine/gui-nodes
/servers/xr*                                  @Redotengine/xr

# Tests

/tests/                                       @Redotengine/tests

# Thirdparty

/thirdparty/                                  @Redotengine/buildsystem

# Buildsystem (After everything to catch all)

*.py                                          @Redotengine/buildsystem
SConstruct                                    @Redotengine/buildsystem
SCsub                                         @Redotengine/buildsystem
