# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails

# Buildsystem

*                                             @Redot-Engine/buildsystem

# Core

/core/                                        @Redot-Engine/core
/core/crypto/                                 @Redot-Engine/network
/core/debugger/                               @Redot-Engine/debugger
/core/extension/                              @Redot-Engine/gdextension
/core/input/                                  @Redot-Engine/input

# Doc

/doc/                                         @Redot-Engine/documentation
**/doc_classes/                               @Redot-Engine/documentation

# Drivers

## Audio
/drivers/alsa/                                @Redot-Engine/audio
/drivers/alsamidi/                            @Redot-Engine/audio
/drivers/coreaudio/                           @Redot-Engine/audio
/drivers/coremidi/                            @Redot-Engine/audio
/drivers/pulseaudio/                          @Redot-Engine/audio
/drivers/wasapi/                              @Redot-Engine/audio
/drivers/winmidi/                             @Redot-Engine/audio
/drivers/xaudio2/                             @Redot-Engine/audio

## Rendering
/drivers/d3d12/                               @Redot-Engine/rendering
/drivers/dummy/                               @Redot-Engine/rendering
/drivers/gles3/                               @Redot-Engine/rendering
/drivers/spirv-reflect/                       @Redot-Engine/rendering
/drivers/vulkan/                              @Redot-Engine/rendering

## OS
/drivers/unix/                                @Redot-Engine/_platforms
/drivers/windows/                             @Redot-Engine/windows

## Misc
/drivers/png/                                 @Redot-Engine/import

# Editor

/editor/*debugger*                            @Redot-Engine/debugger
/editor/gui/                                  @Redot-Engine/usability @Redot-Engine/gui-nodes
/editor/icons/                                @Redot-Engine/usability
/editor/import/                               @Redot-Engine/import
/editor/plugins/*2d_*.*                       @Redot-Engine/2d-editor
/editor/plugins/*3d_*.*                       @Redot-Engine/3d-editor
/editor/plugins/script_*.*                    @Redot-Engine/script-editor
/editor/plugins/*shader*.*                    @Redot-Engine/shaders
/editor/themes/                               @Redot-Engine/usability @Redot-Engine/gui-nodes
/editor/code_editor.*                         @Redot-Engine/script-editor
/editor/*dock*.*                              @Redot-Engine/docks
/editor/*shader*.*                            @Redot-Engine/shaders

# Main

/main/                                        @Redot-Engine/core

# Misc

/misc/                                        @Redot-Engine/buildsystem
/misc/extension_api_validation/               @Redot-Engine/gdextension @Redot-Engine/dotnet

# Modules

## Audio (+ video)
/modules/interactive_music/                   @Redot-Engine/audio
/modules/interactive_music/doc_classes/       @Redot-Engine/audio @Redot-Engine/documentation
/modules/minimp3/                             @Redot-Engine/audio
/modules/minimp3/doc_classes/                 @Redot-Engine/audio @Redot-Engine/documentation
/modules/ogg/                                 @Redot-Engine/audio
/modules/ogg/doc_classes/                     @Redot-Engine/audio @Redot-Engine/documentation
/modules/theora/                              @Redot-Engine/audio
/modules/theora/doc_classes/                  @Redot-Engine/audio @Redot-Engine/documentation
/modules/vorbis/                              @Redot-Engine/audio
/modules/vorbis/doc_classes/                  @Redot-Engine/audio @Redot-Engine/documentation

## Import
/modules/astcenc/                             @Redot-Engine/import
/modules/basis_universal/                     @Redot-Engine/import
/modules/betsy/                               @Redot-Engine/import
/modules/bmp/                                 @Redot-Engine/import
/modules/cvtt/                                @Redot-Engine/import
/modules/dds/                                 @Redot-Engine/import
/modules/etcpak/                              @Redot-Engine/import
/modules/fbx/                                 @Redot-Engine/import
/modules/fbx/doc_classes/                     @Redot-Engine/import @Redot-Engine/documentation
/modules/gltf/                                @Redot-Engine/import
/modules/gltf/doc_classes/                    @Redot-Engine/import @Redot-Engine/documentation
/modules/gltf/tests/                          @Redot-Engine/import @Redot-Engine/tests
/modules/hdr/                                 @Redot-Engine/import
/modules/jpg/                                 @Redot-Engine/import
/modules/ktx/                                 @Redot-Engine/import
/modules/squish/                              @Redot-Engine/import
/modules/svg/                                 @Redot-Engine/import
/modules/tga/                                 @Redot-Engine/import
/modules/tinyexr/                             @Redot-Engine/import
/modules/webp/                                @Redot-Engine/import

## Network
/modules/enet/                                @Redot-Engine/network
/modules/enet/doc_classes/                    @Redot-Engine/network @Redot-Engine/documentation
/modules/mbedtls/                             @Redot-Engine/network
/modules/mbedtls/tests/                       @Redot-Engine/network @Redot-Engine/tests
/modules/multiplayer/                         @Redot-Engine/network
/modules/multiplayer/doc_classes/             @Redot-Engine/network @Redot-Engine/documentation
/modules/upnp/                                @Redot-Engine/network
/modules/upnp/doc_classes/                    @Redot-Engine/network @Redot-Engine/documentation
/modules/webrtc/                              @Redot-Engine/network
/modules/webrtc/doc_classes/                  @Redot-Engine/network @Redot-Engine/documentation
/modules/websocket/                           @Redot-Engine/network
/modules/websocket/doc_classes/               @Redot-Engine/network @Redot-Engine/documentation

## Physics
/modules/godot_physics_2d/                    @Redot-Engine/physics
/modules/godot_physics_3d/                    @Redot-Engine/physics

## Rendering
/modules/glslang/                             @Redot-Engine/rendering
/modules/lightmapper_rd/                      @Redot-Engine/rendering
/modules/meshoptimizer/                       @Redot-Engine/rendering
/modules/raycast/                             @Redot-Engine/rendering
/modules/vhacd/                               @Redot-Engine/rendering
/modules/xatlas_unwrap/                       @Redot-Engine/rendering

## Scripting
/modules/gdscript/                            @Redot-Engine/gdscript
/modules/gdscript/doc_classes/                @Redot-Engine/gdscript @Redot-Engine/documentation
/modules/gdscript/icons/                      @Redot-Engine/gdscript @Redot-Engine/usability
/modules/gdscript/tests/                      @Redot-Engine/gdscript @Redot-Engine/tests
/modules/jsonrpc/                             @Redot-Engine/gdscript @Redot-Engine/network
/modules/jsonrpc/tests                        @Redot-Engine/gdscript @Redot-Engine/network @Redot-Engine/tests
/modules/mono/                                @Redot-Engine/dotnet
/modules/mono/doc_classes/                    @Redot-Engine/dotnet @Redot-Engine/documentation
/modules/mono/icons/                          @Redot-Engine/dotnet @Redot-Engine/usability

## Text
/modules/freetype/                            @Redot-Engine/buildsystem
/modules/msdfgen/                             @Redot-Engine/buildsystem
/modules/text_server_adv/                     @Redot-Engine/gui-nodes
/modules/text_server_adv/doc_classes/         @Redot-Engine/gui-nodes @Redot-Engine/documentation
/modules/text_server_fb/                      @Redot-Engine/gui-nodes
/modules/text_server_fb/doc_classes/          @Redot-Engine/gui-nodes @Redot-Engine/documentation

## XR
/modules/camera/                              @Redot-Engine/xr
/modules/mobile_vr/                           @Redot-Engine/xr
/modules/mobile_vr/doc_classes/               @Redot-Engine/xr @Redot-Engine/documentation
/modules/openxr/                              @Redot-Engine/xr
/modules/openxr/doc_classes/                  @Redot-Engine/xr @Redot-Engine/documentation
/modules/webxr/                               @Redot-Engine/xr
/modules/webxr/doc_classes/                   @Redot-Engine/xr @Redot-Engine/documentation

## Misc
/modules/csg/                                 @Redot-Engine/3d-nodes
/modules/csg/doc_classes/                     @Redot-Engine/3d-nodes @Redot-Engine/documentation
/modules/csg/icons/                           @Redot-Engine/3d-nodes @Redot-Engine/usability
/modules/navigation/                          @Redot-Engine/navigation
/modules/gridmap/                             @Redot-Engine/3d-nodes
/modules/gridmap/doc_classes/                 @Redot-Engine/3d-nodes @Redot-Engine/documentation
/modules/gridmap/icons/                       @Redot-Engine/3d-nodes @Redot-Engine/usability
/modules/noise/                               @Redot-Engine/core
/modules/noise/doc_classes/                   @Redot-Engine/core @Redot-Engine/documentation
/modules/noise/icons/                         @Redot-Engine/core @Redot-Engine/usability
/modules/noise/tests/                         @Redot-Engine/core @Redot-Engine/tests
/modules/regex/                               @Redot-Engine/core
/modules/regex/doc_classes/                   @Redot-Engine/core @Redot-Engine/documentation
/modules/regex/icons/                         @Redot-Engine/core @Redot-Engine/usability
/modules/regex/tests/                         @Redot-Engine/core @Redot-Engine/tests
/modules/zip/                                 @Redot-Engine/core
/modules/zip/doc_classes/                     @Redot-Engine/core @Redot-Engine/documentation

# Platform

/platform/android/                            @Redot-Engine/android
/platform/android/doc_classes/                @Redot-Engine/android @Redot-Engine/documentation
/platform/ios/                                @Redot-Engine/ios
/platform/ios/doc_classes/                    @Redot-Engine/ios @Redot-Engine/documentation
/platform/linuxbsd/                           @Redot-Engine/linux-bsd
/platform/linuxbsd/doc_classes/               @Redot-Engine/linux-bsd @Redot-Engine/documentation
/platform/macos/                              @Redot-Engine/macos
/platform/macos/doc_classes/                  @Redot-Engine/macos @Redot-Engine/documentation
/platform/web/                                @Redot-Engine/web
/platform/web/doc_classes/                    @Redot-Engine/web @Redot-Engine/documentation
/platform/windows/                            @Redot-Engine/windows
/platform/windows/doc_classes/                @Redot-Engine/windows @Redot-Engine/documentation

# Scene

/scene/2d/                                    @Redot-Engine/2d-nodes
/scene/2d/physics/                            @Redot-Engine/2d-nodes @Redot-Engine/physics
/scene/3d/                                    @Redot-Engine/3d-nodes
/scene/3d/physics/                            @Redot-Engine/3d-nodes @Redot-Engine/physics
/scene/animation/                             @Redot-Engine/animation
/scene/audio/                                 @Redot-Engine/audio
/scene/debugger/                              @Redot-Engine/debugger
/scene/gui/                                   @Redot-Engine/gui-nodes
/scene/main/                                  @Redot-Engine/core
/scene/resources/font.*                       @Redot-Engine/gui-nodes
/scene/resources/text_line.*                  @Redot-Engine/gui-nodes
/scene/resources/text_paragraph.*             @Redot-Engine/gui-nodes
/scene/resources/visual_shader*.*             @Redot-Engine/shaders
/scene/theme/                                 @Redot-Engine/gui-nodes
/scene/theme/icons/                           @Redot-Engine/gui-nodes @Redot-Engine/usability

# Servers

/servers/audio*                               @Redot-Engine/audio
/servers/camera*                              @Redot-Engine/xr
/servers/display_server.*                     @Redot-Engine/_platforms
/servers/navigation_server*.*                 @Redot-Engine/navigation
/servers/physics*                             @Redot-Engine/physics
/servers/rendering*                           @Redot-Engine/rendering
/servers/text_server.*                        @Redot-Engine/gui-nodes
/servers/xr*                                  @Redot-Engine/xr

# Tests

/tests/                                       @Redot-Engine/tests

# Thirdparty

/thirdparty/                                  @Redot-Engine/buildsystem

# Buildsystem (After everything to catch all)

*.py                                          @Redot-Engine/buildsystem
SConstruct                                    @Redot-Engine/buildsystem
SCsub                                         @Redot-Engine/buildsystem
